
<main>
  <h1>{{title | titlecase}}</h1>
  <div class="task-wrapper">
    <ul *ngFor="let task of tasks">
      <input type="checkbox" [checked]="task.select" (change)="onChangeTask($event)" [value]="task.id">
      <li [ngClass]="{'done':task.select}">{{task.name}}</li>
      <button (click)="removeTask(task)">remove</button>
    </ul>
  </div>
  
  
  <div class="todo-input">
    <textarea name="" #todoTask cols="40" rows="2" placeholder="Enter Your Task"></textarea>
  
  <button (click)="addTask(todoTask.value)">Add Task</button>
  </div>
</main>






