<main>
  <header>
    <h1>{{ title | titlecase }}</h1>
    <hr />
  </header>
  <div class="task-wrapper">
    <ul *ngFor="let task of tasks; let i=index">
      <input
        type="checkbox"
        [checked]="task.select"
        (change)="onChangeTask($event)"
        [value]="task.id"
      />

      <span
        [ngClass]="{ editable: editContent === task }"
        [style.text-decoration]="task.select ? 'line-through' : 'none'"
        #span
        >{{ task.name }}
      </span>

      <button (click)="removeTask(task)">Remove</button>
      <button (click)="editTask(span)">Edit</button>
      <button (click)="saveTask(task,span)">Save</button>
    </ul>
  </div>

  <div class="todo-input">
    <div>
      <textarea
        name=""
        #todoTask
        cols="40"
        rows="2"
        placeholder="Enter Your Task"
      ></textarea>
    </div>

    <button (click)="addTask(todoTask.value)">Add Task</button>
  </div>
</main>
